@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap");
body {
  /* font-family: "Heebo", sans-serif; */
  color: white;
  background-color: black;
  
}
:root {
  /* estas son las variables de la paleta del color */
  --color-uno: #05668d;
  --color-dos: #028090;
  --color-tres: #00a896;
  --color-cuatro: #02c39a;
  --color-cinco: #f0f3bd;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.cabecera {
  /* background-color: var(--color-cuatro); */
}
.contenedor {
  width: 1200px;
  margin: 0 auto;
}

.box-superior {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  /* border: 1px red solid; */
  /* background: rgb(5, 102, 141);
  background: linear-gradient(
    90deg,
    rgba(5, 102, 141, 1) 0%,
    rgba(2, 128, 144, 1) 35%,
    rgba(0, 168, 150, 1) 100%
  ); */
  background-color: black;
}
.box-superior .logo-superior img {
  width: 60px;
}
.box-superior a img {
  width: 60px;
}
.titulo-superior {
  font-family: "Heebo", sans-serif;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  /* color: rgba(255, 101, 12, 0.6); */
  /* color: white; */
}
.box-main {
  width: 100%;
  min-height: 90vh;
  display: flex;
}
.box-main .contenido-izquierda {
  /* background-color: var(--color-uno); */
  width: 80%;
  background: rgb(5, 102, 141);
  background: linear-gradient(
    90deg,
    rgba(5, 102, 141, 1) 0%,
    rgba(2, 128, 144, 1) 35%,
    rgba(0, 168, 150, 1) 100%
  );
}
.box-main .contenido-izquierda img {
  box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.75);
  /* border-radius: 50%; */
  border: 5px black outset;
  margin: 50px 50px;
}
.box-main .contenido-derecha {
  background-color: var(--color-tres);
  width: 20%;
  display: flex;
  justify-content: center;
}
.contenido-derecha ul {
  list-style: none;
}
.contenido-derecha ul li a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  transition: all 0.4s ease-in-out;
  /* box-shadow: 5px 5px 5px 5px rgba(50, 50, 50, 0.75); */
  text-transform: uppercase;
}
.contenido-derecha ul li a:hover {
  color: black;
}
